body {
    background: #f5f5f5;
   
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

} 

html {
    overflow-x: hidden;
}


.smooth-scroll-wrapper {
    z-index: 2;
    overflow: hidden;
}


a {
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #1d1d1d;
    font-size: 17px;

}

h1 {
    color: #1d1d1d;
    z-index: 2;
}


.twot {
    background: url(../img/fundot2.png);
    background-size: cover;
    width: 1920px;
    margin-top: 30px;
 

    align-items: center;
    justify-content: center;
    display: flex;
}

.twot a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #1d1d1d;

    font-weight: 700;
    font-size: 62px;
    line-height: 75px;

    margin-left: 10%;
}


.twot img{
    display: flex;
    margin-top: 25%;
    width: 1200px;

    z-index: 5;
}

.twot2{
    background: #C8FAE2;
    width: 1920px;
    height: 20vh;
    position: absolute;

    
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;

}


section {
    height: 90vh;
    width: 100%;
    display: flex;
    place-content: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
}

nav {
    position: fixed;
    background: #0000;
    display: flex;

    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 30px;
    margin-top: 30px;


    z-index: 4;

}

.logo a {
    font-family: 'ABeeZee', sans-serif;
    font-size: 35px;
    text-decoration: none;
}

.logo img{
    width: 50px;
}


ul {
    justify-content: center;
    align-items: center;

    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;

    height: 76px;
    margin-top: 43px;

    border-radius: 75px;
    background: #ffff;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

ul li {
    font-family: 'ABeeZee', sans-serif;
    list-style-type: none;
    text-decoration: none;
    
    padding: 25.5px;
    transition: 0.2s;
}

ul a{
    font-size: 23px;
    text-decoration: none;
}


ul a:hover {
    color: #00cca7;
    transition: 0.2s;
}


.login a {
    width: 150px;
    height: 65px;
    background: #4d0491;
    color: #ffff;
    font-size: 23px;
    border-radius: 50px;

    position: relative;
    margin-top: 26px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.login a:hover {
    background-image:     linear-gradient(
        to right, 
        #4d0491,
        #58079c,
        #640ba7
      
      );
    animation:slidebg .5s linear;
}

.one {
    background-size: cover;
    display: block;


}

.one h1 {
    margin-top: 23%;
    font-family: 'Nunito', sans-serif;
    line-height: 100px;

    color: #000;
    font-size: 110px;
    text-align: center;
}

.contact{
    margin-top: 300px;
    position: absolute;
    justify-content: center;
    
    align-self: center;
    align-items: center;
    display: flex;
}

.contact a {
    background: #4d0491;
    height: 110px;
    width: 350px;

    color: #ffff;
    font-size: 35px;
    font-family: 'Gantari', sans-serif;
    border-radius: 70px;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    display: flex;

    transition: 1s;
    z-index: 3;

}

.contact a:hover {
    background-image:     linear-gradient(
        to right, 
        #4d0491,
        #58079c,
        #640ba7
      
      );
    animation:slidebg .5s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  .line svg{
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;

}

.containerrr{
   display: none;
}
  
.tech-slideshow {
    height: 120px;
    max-width: 4225px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

  }
  
  .tech-slideshow > div {
    height: 400px;
    width: 4225px;
    background: url(../img/Untitled.png);
   
    height: 100%;
    transform: translate3d(0, 0, 0);

  }

  .tech-slideshow .mover-1 {
    animation: moveSlideshow 20s linear infinite;
  }

  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }



  .black{
    background: #000;
    width: 1920px;
    height: 400vh;

    z-index: 4;

    font-family: 'Nunito', sans-serif;
    
}
    .black h1{
        align-items: center;
        justify-content: center;
        display: flex;

        position: absolute;
        margin-top: 25%;
        margin-left: 30%;
        
        font-size: 100px;
        color: #ffff
    }

    .black h2{
        align-items: center;
        justify-content: center;
        display: flex;
        
        position:absolute;
        margin-top: 30%;
        margin-left: 40%;
        
        font-size: 100px;
        color: #ffff
    }

    .black h3{
        position: absolute;
        margin-top: 44%;
        margin-left: 85%;

        font-family: 'Nunito', sans-serif;
        font-size: 170px;
        color: #C2FFE9;
    }

    .purple{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 45%;
        width: 800px;
        height: 650px;

        background: #4d0491;
        border-radius: 75px;
        margin-left: 50px;
    }

    .purple img{
        border-radius: 37.5px;
    }

    .text-purple{
        display: flex;
        align-items: flex-end;
        justify-content: right;

        position: absolute;
        margin-top: 78%;
        width: 90%;

        line-height: 67px;
        
        font-family: 'Nunito', sans-serif;
        z-index: 9;
    }

    .text-purple h1{
        position: absolute;
        color: #e6e6e6;
        width: 700px;
        font-size: 65px;

        text-align: end;
        
    }

    /*purple2-------------------------------------------------------------------*/

    .purple2{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 95%;
        width: 800px;
        height: 650px;

        background: #4d0491;
        border-radius: 75px;
        margin-left: 50px;
    }

    .purple2 img{
        border-radius: 37.5px;
    }


    .text-purple2{
        display: flex;
        align-items: flex-end;
        justify-content: right;

        position: absolute;
        margin-top: 128%;
        width: 90%;

        line-height: 67px;
        
        font-family: 'Nunito', sans-serif;
        z-index: 10;
    }

    .text-purple2 h1{
        position: absolute;
        color: #e6e6e6;
        width: 600px;
        font-size: 65px;

        text-align: end;
        
    }

    /*----------------purple3-----------------------*/
    .purple3{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 145%;
        width: 800px;
        height: 650px;

        background: #4d0491;
        border-radius: 75px;
        margin-left: 50px;
    }

    .purple3 img{
        border-radius: 37.5px;
    }


    .text-purple3{
        display: flex;
        align-items: flex-end;
        justify-content: right;

        position: absolute;
        margin-top: 175%;
        width: 90%;

        line-height: 67px;
        
        font-family: 'Nunito', sans-serif;
        z-index: 10;
    }

    .text-purple3 h1{
        position: absolute;
        color: #e6e6e6;
        width: 600px;
        font-size: 65px;

        text-align: end;
        
    }

    .black h5{
        position: absolute;
        margin-top: 145%;
        margin-left: 85%;

        font-family: 'Nunito', sans-serif;
        font-size: 170px;
        color: #C8FAE2;
    }

/*--------------------------------fim------------------------------*/


    .black h4{
        position: absolute;
        margin-top: 95%;
        margin-left: 85%;

        font-family: 'Nunito', sans-serif;
        font-size: 170px;
        color: #C8FAE2;
    }


    .around{
        background: #C8FAE2;
        height: 100px;
        width: 220px;

        border-radius: 75px;
        color: #000;
        margin-left: 5px;

        align-items: center;
        justify-content: center;
        display: flex;
    }

    .around2{
        background: #000000;
        height: 150px;
        width: 427px;

        border-radius: 75px;
        color: #f5f5f5;
        margin-left: 5px;

        align-items: center;
        justify-content: center;
        display: flex;
    }

    .arist{
        background: url(../img/grupo3.png);
        background-size: auto;
        width: 1920px;
        height: 90vh;

        display: flex;
        justify-content: center;

        font-family: 'Nunito', sans-serif;;

    }

    .arist  img{
        position: absolute;
        margin-top: 8%;

        width: 300px
    }

    .arist h1{
        position: absolute;
        margin-top: 20%;
        width: 1300px;

        font-size: 55px;
    }

    .arist p{
     
        position: absolute;
        margin-top: 30%;

        font-weight: bold;
        color: #4d0491;
    }

   .texth h1{
        align-items: center;
        justify-content: center;
        display: flex;

        position: absolute;
        margin-top: 5%;
        margin-left: 30%;
        
        font-size: 100px;
        color: #000
        
    }
    .titdrop{
        font-family: 'Nunito', sans-serif;
    }

    .titdrop2{
        font-family: 'Nunito', sans-serif;
    }
    .titdrop h1{
        position: absolute;
        margin-top: 5%;
        margin-left: 35px;

        font-size: 50px;
        color: #4d0491;
        font-weight: bolder;

        z-index: 5;
    }

    .titdrop2 h1{
        position: absolute;
        margin-top: 5%;
        margin-left: 35px;

        font-size: 50px;
        color: #4d0491;
        font-weight: bolder;
    }

    .titdrop p{
      position: absolute;
      color: #ABABAB;
      font-size: 20px;

      margin-top: 14%;
      margin-left: 40px;
    }

    .titdrop2 p{
      position: absolute;
      color: #ABABAB;
      font-size: 20px;

      margin-top: 14%;
      margin-left: 40px;
    }

  .rh{
    position: absolute;
    margin-top: 20%;
    margin-left: 13%;

    height: 1093px;
    width: 615px;
    background: #f0f0f0;
    border-radius: 50px;

    align-items:flex-start;
    justify-content: left;
    display: flex;

    font-family: 'Nunito', sans-serif;

    z-index: 4;
  }

  .funcio{
    position: absolute;
    margin-top: 20%;
    margin-left: 53%;

    height: 1093px;
    width: 615px;
    background: #f0f0f0;
    border-radius: 50px;

    align-items:flex-start;
    justify-content: left;
    display: flex;

    font-family: 'Nunito', sans-serif;

    z-index: 4;
  
  }

  /*conteudo 1--------------------------------*/

  .cont1{
    position: absolute;
    margin-top: 27%;
    margin-left: 35px;

    height: 168px;
    width: 551px;

    background: #cdf3e1;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  }

  .cont1 p{
    position: absolute;

    margin: 40px;
    color: #95C6AE;
    font-size: 33px;

  }

  /*----------------------conteudo2----------------*/

  
  .cont2{
    position: absolute;
    margin-top: 58%;
    margin-left: 35px;

    height: 220px;
    width: 551px;

    background: #cdf3e1;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  }

  .cont2 p{
    position: absolute;

    margin: 40px;
    color: #95C6AE;
    font-size: 33px;

  }

  /*----------------cont3--------------------*/

  .cont3{
    position: absolute;
    margin-top: 98%;
    margin-left: 35px;

    height: 220px;
    width: 551px;

    background: #cdf3e1;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  }

  .cont3 p{
    position: absolute;

    margin: 40px;
    color: #95C6AE;
    font-size: 33px;

  }

  /*------------------cont 4-----------------*/

  
  .cont4{
    position: absolute;
    margin-top: 139%;
    margin-left: 35px;

    height: 160px;
    width: 551px;

    background: #cdf3e1;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  }

  .cont4 p{
    position: absolute;

    margin: 40px;
    color: #95C6AE;
    font-size: 33px;

  }

  /*------------------cont 1 funcionarios------------*/
  
  .contt1{
    position: absolute;
    margin-top: 27%;
    margin-left: 35px;

    height: 168px;
    width: 551px;

    background: #cdbcf3;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  
  }

  .contt1 p{
    position: absolute;

    margin: 40px;
    color: #8a6cca;
    font-size: 33px;

  }

  /*---------------------cont2 funcionario-------------*/

  .contt2{
    position: absolute;
    margin-top: 58%;
    margin-left: 35px;

    height: 205px;
    width: 551px;

    background: #cdbcf3;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  
  }

  .contt2 p{
    position: absolute;

    margin: 40px;
    color: #8a6cca;
    font-size: 33px;

  }

  /*-------------------cont 3 func------------*/

  .contt3{
    position: absolute;
    margin-top: 98%;
    margin-left: 35px;

    height: 168px;
    width: 551px;

    background: #cdbcf3;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  
  }

  .contt3 p{
    position: absolute;

    margin: 40px;
    color: #8a6cca;
    font-size: 33px;

  }

  /*----------------cont 4 func-------------*/
  .contt4{
    position: absolute;
    margin-top: 132%;
    margin-left: 35px;

    height: 200px;
    width: 551px;

    background: #cdbcf3;
    border-radius: 37.5px;

    font-family: 'Nunito', sans-serif;
  
  }

  .contt4 p{
    position: absolute;

    margin: 40px;
    color: #8a6cca;
    font-size: 33px;

  }


    .mesh{
        background: #f5f5f5;
        background-size: auto;

        width: 1920px;
        height: 160vh;
        padding-top: 0px;
        margin: 0 auto;

        font-family: 'Nunito', sans-serif;;
    }

    .ball {
        width: 10px;
        height: 10px;
        margin: 10px auto;
        border-radius: 50px;
      }
      
      .ball:nth-child(1) {
        background: #D6D6D6;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }
      
      .ball:nth-child(2) {
        background: #D6D6D6;
        -webkit-animation: left 1.1s infinite ease-in-out;
        -moz-animation: left 1.1s infinite ease-in-out;
        animation: left 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(3) {
        background: #D6D6D6;
        -webkit-animation: right 1.05s infinite ease-in-out;
        -moz-animation: right 1.05s infinite ease-in-out;
        animation: right 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(4) {
        background: #D6D6D6;
        -webkit-animation: left 1.15s infinite ease-in-out;
        -moz-animation: left 1.15s infinite ease-in-out;
        animation: left 1.15s infinite ease-in-out;
      }
      
      .ball:nth-child(5) {
        background: #D6D6D6;
        -webkit-animation: right 1.1s infinite ease-in-out;
        -moz-animation: right 1.1s infinite ease-in-out;
        animation: right 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(6) {
        background: #D6D6D6;
        -webkit-animation: left 1.05s infinite ease-in-out;
        -moz-animation: left 1.05s infinite ease-in-out;
        animation: left 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(7) {
        background: #744d99;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }

      .ball:nth-child(8) {
        background: #744d99;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }
      
      .ball:nth-child(9) {
        background: #744d99;
        -webkit-animation: left 1.1s infinite ease-in-out;
        -moz-animation: left 1.1s infinite ease-in-out;
        animation: left 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(10) {
        background: #5d3485;
        -webkit-animation: right 1.05s infinite ease-in-out;
        -moz-animation: right 1.05s infinite ease-in-out;
        animation: right 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(11) {
        background: #5d3485;
        -webkit-animation: left 1.15s infinite ease-in-out;
        -moz-animation: left 1.15s infinite ease-in-out;
        animation: left 1.15s infinite ease-in-out;
      }
      
      .ball:nth-child(12) {
        background: #5d3485;
        -webkit-animation: right 1.1s infinite ease-in-out;
        -moz-animation: right 1.1s infinite ease-in-out;
        animation: right 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(13) {
        background: #5d3485;
        -webkit-animation: left 1.05s infinite ease-in-out;
        -moz-animation: left 1.05s infinite ease-in-out;
        animation: left 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(14) {
        background: #5d3485;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }

      .ball:nth-child(15) {
        background: #4d2475;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }
      
      .ball:nth-child(16) {
        background: #4d2475;
        -webkit-animation: left 1.1s infinite ease-in-out;
        -moz-animation: left 1.1s infinite ease-in-out;
        animation: left 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(17) {
        background: #4d2475;
        -webkit-animation: right 1.05s infinite ease-in-out;
        -moz-animation: right 1.05s infinite ease-in-out;
        animation: right 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(19) {
        background: #4d2475;
        -webkit-animation: left 1.15s infinite ease-in-out;
        -moz-animation: left 1.15s infinite ease-in-out;
        animation: left 1.15s infinite ease-in-out;
      }
      
      .ball:nth-child(20) {
        background: #4d2475;
        -webkit-animation: right 1.1s infinite ease-in-out;
        -moz-animation: right 1.1s infinite ease-in-out;
        animation: right 1.1s infinite ease-in-out;
      }
      
      .ball:nth-child(21) {
        background: #4d0491;
        -webkit-animation: left 1.05s infinite ease-in-out;
        -moz-animation: left 1.05s infinite ease-in-out;
        animation: left 1.05s infinite ease-in-out;
      }
      
      .ball:nth-child(22) {
        background: #4d0491;
        -webkit-animation: right 1s infinite ease-in-out;
        -moz-animation: right 1s infinite ease-in-out;
        animation: right 1s infinite ease-in-out;
      }

      
      
      @-webkit-keyframes right {
        0% {
          -webkit-transform: translate(-100px);
        }
        50% {
          -webkit-transform: translate(100px);
        }
        100% {
          -webkit-transform: translate(-100px);
        }
      }
      
      @-webkit-keyframes left {
        0% {
          -webkit-transform: translate(100px);
        }
        50% {
          -webkit-transform: translate(-100px);
        }
        100% {
          -webkit-transform: translate(100px);
        }
      }
      
      @-moz-keyframes right {
        0% {
          -moz-transform: translate(-100px);
        }
        50%{
          -moz-transform: translate(100px);
        }
        100% {
          -moz-transform: translate(-100px);
        }
      }
      
      @-moz-keyframes left {
        0% {
          -moz-transform: translate(100px);
        }
        50% {
          -moz-transform: translate(-100px);
        }
        100% {
          -moz-transform: translate(100px);
        }
      }
      
      @keyframes right {
        0% {
          transform: translate(-100px);
        }
        50% {
          transform: translate(100px);
        }
        100% {
          transform: translate(-100px);
        }
      }
      
      @keyframes left {
        0% {
          transform: translate(100px);
        }
        50% {
          transform: translate(-100px);
        }
        100% {
          transform: translate(100px);
        }
      }

      .obj{
        width: 1920px;
        height: 90vh;

        background:  #f5f5f5;
        background-size: cover;

        font-family: 'Nunito', sans-serif;;

      }

      .obj h1{
        font-size: 80px;
        color: #4d0491;

        margin-left: 10%;
        margin-top: 10%

      }

      .obj p{
        width: 1000px;
        font-size: 35px;

        margin-left: 40%;
        margin-top: 5%;
        text-align: end;
      }

      .about{
        width: 1920px;
        height: 150vh;

        background:  url(../img/cats.png);
        background-size: cover;

        font-family: 'Nunito', sans-serif;

      }

      .about h1{
        font-size: 100px;
        color: #4d0491;

        margin-left: 10%;
        margin-top: 5%

      }

      .about p{
        width: 900px;
        font-size: 35px;

        color: #7e7e7e;

        margin-left: 50%
      }

  .nois img{
        margin-left: 20%;
      }

      footer{
        margin-top: 7%;
        height: 200px;
        width: 1920px;

        background: #000;

        justify-content: space-around;
        display: flex;
        align-items: center;

        font-family: 'Nunito', sans-serif;
      }

      footer h1{
        color: #9affce;

      }

      footer a{
        color: #9affce;
      }

      footer .f a{
        font-size: 30px;
    }
    
    footer .ico a{
        margin-left: 20px;
    }
@import "cursor";

/*tamanho tela 1366 escola*/

@media screen and (max-width: 1366px) {

    .one h1 {
        margin-top: 30%;
        font-family: 'Gantari', sans-serif;
        line-height: 60px;
    
        color: #000;
        font-size: 70px;
        text-align: center;
    }

    .logo a {
        font-family: 'ABeeZee', sans-serif;
        font-size: 30px;
    }
    
    .logo img{
        width: 40px;
    }
    
    
    ul {
        justify-content: center;
        align-items: center;
    
        display: inline-flex;
        padding-left: 15px;
        padding-right: 15px;
    
        height: 66px;
        margin-top: 43px;
    
        border-radius: 75px;
        background: #ffff;
    
    }
    
    ul li {
        font-family: 'ABeeZee', sans-serif;
        list-style-type: none;
        padding: 25.5px;
        transition: 0.2s;
    }
    
    ul a{
        font-size: 20px;
    }
    
    
    ul a:hover {
        color: #00cca7;
        transition: 0.2s;
    }
    
    
    .login a {
        width: 120px;
        height: 65px;
        background: #4d0491;
        color: #ffff;
        font-size: 20px;
        border-radius: 50px;
    
        position: relative;
        margin-top: 26px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }
    
    .login a:hover {
        background-image:     linear-gradient(
            to right, 
            #4d0491,
            #58079c,
            #640ba7
          
          );
        animation:slidebg .5s linear;
    }

    /*section 1 (primeira página)*/

    .contact{
        margin-top: 300px;
        position: absolute;
        justify-content: center;
        
        align-self: center;
        align-items: center;
        display: flex;
    }
    
    .contact a {
        background: #4d0491;
        height: 100px;
        width: 270px;
    
        color: #ffff;
        font-size: 27px;
        font-family: 'Gantari', sans-serif;
        border-radius: 70px;
    
        justify-content: center;
        align-items: center;
        display: flex;
    
        transition: 1s;
        z-index: 3;
    
    }
    
    .contact a:hover {
        background-image:     linear-gradient(
            to right, 
            #4d0491,
            #58079c,
            #640ba7
          
          );
        animation:slidebg .5s linear infinite;
    }

    /*section 2 (section verdinha)*/

    .twot {
        background: #C8FAE2;
        width: 1920px;
        margin-top: 30px;
     
    
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .twot a {
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        color: #1d1d1d;
    
        font-weight: 700;
        font-size: 42px;

        width: 500px;
    
        margin-left: 10%;
    }
    
    
    .twot img{
        display: flex;
        margin-top: 35%;
        width: 900px;
    
        z-index: 5;
    }
    
    .twot2{
        background: #C8FAE2;
        width: 1366px;
        height: 25vh;
        position: absolute;
    
        
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
    
    }

    .tech-slideshow {
        height: 120px;
        max-width: 1366px;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    
      }

    .tech-slideshow > div {
        height: 400px;
        width: 4225px;
        background: url(../img/Untitled.png);
       
        height: 100%;
        transform: translate3d(0, 0, 0);
    
      }
    
      /*section 3 (black)*/

      .black{
        background: #000;
        width: 1366px;
        height: 200vh;
    
        z-index: 3;
    
        font-family: 'Gantari', sans-serif;
    }
        .black h1{
            align-items: center;
            justify-content: center;
            display: flex;
    
            position: absolute;
            margin-top: 25%;
            margin-left: 30%;
            
            font-size: 70px;
            color: #ffff
        }
    
        .black h2{
            align-items: center;
            justify-content: center;
            display: flex;
            
            position:absolute;
            margin-top: 30%;
            margin-left: 40%;
            
            font-size: 70px;
            color: #ffff
        }
    
        .purple{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
    
            margin-top: 45%;
            width: 600px;
            height: 15%;
    
            background: #4d0491;
            border-radius: 75px;
            margin-left: 50px;
        }
    
        .purple img{
            width: 350px;
            border-radius: 37.5px;
        }
    
        .text-purple{
            display: flex;
            align-items: flex-end;
            justify-content: right;
    
            position: absolute;
            margin-top: 76%;
            width: 90%;
    
            line-height: 57px;
            
            font-family: 'Nunito', sans-serif;
            z-index: 9;
        }
    
        .text-purple h1{
            position: absolute;
            color: #e6e6e6;
            width: 500px;
            font-size: 45px;
            
    
            text-align: end;
            
        }
    
        .around{
            background: #C8FAE2;
            height: 90px;
            width: 170px;
    
            border-radius: 75px;
            color: #000;
            margin-left: 5px;
    
            align-items: center;
            justify-content: center;
            display: flex;
        }
}

/*tamanho tela iphone*/

@media screen and (max-width: 604px) {


    .one h1 {
        margin-top: 50%;
        font-family: 'Nunito', sans-serif;
        line-height: 60px;
    
        color: #000;
        font-size: 50px;
        text-align: center;
    }
    
    
    .logo a{
      display: none;
    }

    .logo img{
      width: 50px;
    }
    ul{
      display: none;
    }

    ul li {
      display: none;
  }

  .login a{
    height: 50px;
    font-size: 15px;
  }
  
  ul a{
        display: none;
    
    }

    .twot{
      background: url(../img/fundot2.png);
      background-size: cover;
      width: 414px;
      margin-top: 30px;
      
      border-top-left-radius: 37.5px;
      border-top-right-radius: 37.5px;
      align-items: center;
      justify-content: center;
      display: block;
  }
  
  .twot a {
      font-family: 'Nunito', sans-serif;
      text-decoration: none;
      color: #1d1d1d;
  
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      width: 300px;

      position: absolute;
      text-align: center;
      margin-top: 20%;

  }
  
  
  .twot img{
      display: flex;
      margin-top: 75%;
      width: 700px;
  
      z-index: 5;
  }
  
  .twot2{
      background: #C8FAE2;
      width: 414px;
      height: 20vh;
      position: absolute;
  
      
      border-bottom-left-radius: 37.5px;
      border-bottom-right-radius: 37.5px;

    }
    
}